body{
    background-color: #f4f2ee;
    background-image: url("img/noise.png");
    text-align: center;
}
.list{
    color: #bebebe;
    line-height: 2em;
    list-style-type: none;
}
.list li a{
    position: relative;
    color: #bebebe;
    padding: 5px 0;
    text-decoration: none;
}
.list li a:hover{
    color: #8d8d8b;

}
.list li a:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #c00;
    height: 2px;
    width: 0;
    transition: all .5s;
}
.list li a:hover:before{
    width: 100%;
    left: 0;
}
